<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Brian Sunter</title>
    <meta name="description" content="My Landing Page">
    <meta name="author" content="Brian Sunter">
    <style>

    {{style}}

    </style

  </head>

  <body>
    {{content}}
  </body>
</html>
